<div class="product-row" data-index="{{ index }}">
    <div>
        {% set dropdown_id = 'product-dropdown-' ~ index %}
        {% set name = 'products[' ~ index ~ '][product_id]' %}
        {% set options = products|map(attribute='name')|list %}
        {% set selected_text = 'Chọn sản phẩm' %}
        {% include 'components/dropdown_select.html' %}
    </div>
    <div>
        {% set type = 'number' %}
        {% set name = 'products[' ~ index ~ '][unit_price]' %}
        {% set required = True %}
        {% set placeholder = 'Giá nhập (VND)' %}
        {% set step = '0.01' %}
        {% include 'components/input.html' %}
    </div>
    <div>
        {% set type = 'number' %}
        {% set name = 'products[' ~ index ~ '][quantity]' %}
        {% set required = True %}
        {% set placeholder = 'Số lượng' %}
        {% include 'components/input.html' %}
    </div>
    <div>
        {% set type = 'date' %}
        {% set name = 'products[' ~ index ~ '][manufacturing_date]' %}
        {% set value = today %}
        {% set required = True %}
        {% include 'components/input.html' %}
    </div>
    <div>
        {% set type = 'date' %}
        {% set name = 'products[' ~ index ~ '][expiry_date]' %}
        {% set required = True %}
        {% include 'components/input.html' %}
    </div>
    <div>
        {% set type = 'text' %}
        {% set name = 'products[' ~ index ~ '][total]' %}
        {% set readonly = True %}
        {% set value = '0 đ' %}
        {% include 'components/input.html' %}
    </div>
</div>